header {
    transition: all 0.6s;
}

#app.aw-home header {
    background: white;
    color: black;
}

#app.aw-home.aw--scrolled header,
body.aw-nav-open #app.aw-home header {
    background: #161616;
    color: white;
}
