main {
    position: absolute;
    top: 96px;
    left: 0;
    width: 100vw;
    transition: transform 0.5s, opacity 0.5s;
    height: calc(100vh - 97px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid white;
}

@media (max-width: 640px) {
    main {
        top: 64px;
        height: calc(100vh - 65px);
    }
}

body.aw-nav-open main {
    transform: translateY(100vh);
    pointer-events: none;
}
