/node_modules
/docs/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/media-library
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
