// Fonts
@import "custom/_font";

// Custom Utilities
@import "custom/_utilities";

// Icons
@import "custom/_icons";

@tailwind base;
@tailwind components;
@tailwind utilities;

// Typo
@import "custom/_typo";

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    overflow: hidden;

    &.aw-first-section-is-white {
        background: linear-gradient(
            0deg,
            rgba(22, 22, 22, 1) 0%,
            rgba(22, 22, 22, 1) 46%,
            rgba(255, 255, 255, 1) 48%,
            rgba(255, 255, 255, 1) 100%
        );

        &.aw-nav-animating {
            background: #161616;
        }
    }
}

// Specials
@import "custom/header";
@import "custom/main";
@import "custom/nav";
