// colors
$accentColor = #4951f2
$textColor = #2c3e50
$borderColor = #ccd7e1
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #9ff2ae
$badgeWarningColor = #f6ed76
$badgeErrorColor = #f67693
