@import 'custom/_font';

@import 'custom/_utilities';

@import 'custom/_icons';

@tailwind base;

@layer base {
    @media (max-width: 640px) {
        .aw-jumbo br {
            display: none;
        }
        .aw-jumbo h1 {
            font-size: 32px;
        }
    }
    .h1 {
        transition: all 0.3s;
        @apply mb-20 text-4xl font-semibold text-black;
    }
    @media (max-width: 768px) {
        .h1 {
            @apply mb-12;
        }
    }
    @media (max-width: 640px) {
        .h1 {
            @apply mb-8;
        }
    }
    section.bg-white .h1::before {
        content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='44px' height='30px' viewBox='0 0 44 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ECombined Shape%3C/title%3E%3Cg id='3-Studio-&amp;-Team' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E%3Cg id='03-Studio-&amp;-Team' transform='translate(-84.000000, -925.000000)' stroke='%23161616' stroke-width='5'%3E%3Cpath d='M112.146042,928 L124,940 L112.146042,952 M123.385561,940 L86.5,939.5' id='Combined-Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        @apply inline-block w-12 h-10 mr-2 text-black;
        transform-origin: left center;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform: translate(-60px, -2px) scale(1);
        opacity: 0;
    }
    section.bg-black .h1::before {
        content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='44px' height='30px' viewBox='0 0 44 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ECombined Shape%3C/title%3E%3Cg id='3-Studio-&amp;-Team' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E%3Cg id='03-Studio-&amp;-Team' transform='translate(-84.000000, -925.000000)' stroke='%23FFFFFF' stroke-width='5'%3E%3Cpath d='M112.146042,928 L124,940 L112.146042,952 M123.385561,940 L86.5,939.5' id='Combined-Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        @apply inline-block w-12 h-10 mr-2 text-black;
        transform-origin: left center;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform: translate(-60px, -2px) scale(1);
        opacity: 0;
    }
    @media (max-width: 768px) {
        section.bg-white .h1::before {
            transform: translate(-60px, 12px) scale(0.95);
            margin-right: 3px;
        }
        section.bg-black .h1::before {
            transform: translate(-60px, 12px) scale(0.95);
            margin-right: 3px;
        }
    }
    @media (max-width: 640px) {
        section.bg-white .h1::before {
            transform: translate(-60px, 15px) scale(0.7);
            margin-right: -10px;
        }
        section.bg-black .h1::before {
            transform: translate(-60px, 15px) scale(0.7);
            margin-right: -10px;
        }
    }
    section.bg-white .h1.aw--animate::before {
        transform: translate(0, -2px) scale(1);
        opacity: 1;
        margin-left: 0px;
    }
    section.bg-black .h1.aw--animate::before {
        transform: translate(0, -2px) scale(1);
        opacity: 1;
        margin-left: 0px;
    }
    @media (max-width: 768px) {
        section.bg-white .h1.aw--animate::before {
            transform: translate(0, 2px) scale(0.95);
        }
        section.bg-black .h1.aw--animate::before {
            transform: translate(0, 2px) scale(0.95);
        }
    }
    @media (max-width: 640px) {
        section.bg-white .h1.aw--animate::before {
            transform: translate(0, 4px) scale(0.7);
        }
        section.bg-black .h1.aw--animate::before {
            transform: translate(0, 4px) scale(0.7);
        }
    }
    @media (max-width: 768px) {
        .h1 {
            @apply text-3xl;
        }
    }
    @media (max-width: 640px) {
        .h1 {
            @apply text-2xl;
            hyphens: auto;
        }
    }

    h2,
    .h2 {
        @apply mb-8 text-3xl font-semibold text-black;
    }
    @media (max-width: 768px) {
        h2,
        .h2 {
            @apply text-2xl;
        }
    }
    @media (max-width: 640px) {
        h2,
        .h2 {
            @apply text-xl;
        }
    }

    h3,
    .h3 {
        @apply mb-8 text-2xl font-semibold text-black;
    }
    @media (max-width: 768px) {
        h3,
        .h3 {
            @apply text-xl;
        }
    }
    @media (max-width: 640px) {
        h3,
        .h3 {
            @apply text-xl;
        }
    }

    p {
        @apply mb-8 text-base font-normal text-black;
    }

    blockquote {
        @apply relative pt-8 pb-2 pl-16 mt-24 mb-24;
    }

    blockquote::before {
        content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='44px' height='30px' viewBox='0 0 44 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ECombined Shape%3C/title%3E%3Cg id='3-Studio-&amp;-Team' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E%3Cg id='03-Studio-&amp;-Team' transform='translate(-84.000000, -925.000000)' stroke='%23161616' stroke-width='5'%3E%3Cpath d='M112.146042,928 L124,940 L112.146042,952 M123.385561,940 L86.5,939.5' id='Combined-Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        @apply absolute left-0 inline-block w-12 h-10 mr-2 text-black;
        transform-origin: left center;
        top: 20px;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform: translate(0, -30px) scale(1);
        opacity: 1;
    }

    blockquote p {
        @apply mb-8 mr-12 text-xl font-normal text-black;
    }

    ul {
        @apply mb-8 text-base font-normal text-black;
    }
    ul li p:first-child {
        display: inline;
    }

    .aw-list ul {
        @apply mb-8 text-lg font-semibold text-black;
    }
    @media (max-width: 768px) {
        .aw-list ul {
            @apply text-base;
        }
    }
    section.bg-white .aw-list ul li,
    section.bg-white .prose ul li {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='14' height='3' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1.5H1' stroke='%23161616' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round'/%3E%3C/svg%3E");
        background-position: 0 13px;
        background-repeat: no-repeat;
        @apply pl-8;
    }
    section.bg-black .aw-list ul li,
    section.bg-black .prose ul li {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='14' height='3' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1.5H1' stroke='%23FFF' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round'/%3E%3C/svg%3E");
        background-position: 0 13px;
        background-repeat: no-repeat;
        @apply pl-8;
    }
    .aw-list ul li p {
        @apply font-semibold;
    }
    .aw-list.normal ul li p {
        @apply font-normal;
    }

    p a,
    a.aw-link {
        @apply font-normal text-black;
        border-bottom: 1px solid rgba(22, 22, 22, 0.25);
        padding-bottom: 0.005rem;
        transition: all 0.2s;
    }
    p a:hover,
    a.aw-link:hover {
        border-bottom: 1px solid rgba(22, 22, 22, 1);
        padding-bottom: 0.075rem;
    }
    .text-xl p {
        font-size: 22px;
        line-height: 28px;
    }

    section.bg-black .h1,
    nav.bg-black .h1 {
        @apply text-white;
    }
    /* section.bg-black .h1::before,
    nav.bg-black .h1::before {
        @apply aw-arrow-ltr-white;
    } */

    section.bg-black h2,
    section.bg-black .h2,
    nav.bg-black h2,
    nav.bg-black .h2 {
        @apply text-white;
    }
    section.bg-black h3,
    section.bg-black .h3,
    nav.bg-black h3,
    nav.bg-black .h3 {
        @apply text-white;
    }
    section.bg-black p {
        @apply text-white;
    }

    section.bg-black .aw-list ul,
    nav.bg-black .aw-list ul {
        @apply text-white;
    }
    /* section.bg-black .aw-list ul li,
    nav.bg-black .aw-list ul li {
        @apply aw-dash-white;
    } */

    section.bg-black p a,
    section.bg-black a.aw-link,
    nav.bg-black p a,
    nav.bg-black a.aw-link {
        @apply text-white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
    section.bg-black p a:hover,
    section.bg-black a.aw-link:hover,
    nav.bg-black p a:hover,
    nav.bg-black a.aw-link:hover {
        border-bottom: 1px solid rgba(255, 255, 255, 1);
    }

    section.bg-black ul,
    nav.bg-black ul {
        @apply text-white;
    }
}

@tailwind components;

@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    overflow: hidden;
}
body.aw-first-section-is-white {
    background: linear-gradient(
        0deg,
        rgba(22, 22, 22, 1) 0%,
        rgba(22, 22, 22, 1) 46%,
        rgba(255, 255, 255, 1) 48%,
        rgba(255, 255, 255, 1) 100%
    );
}
body.aw-first-section-is-white {
    background: linear-gradient(
        0deg,
        rgba(22, 22, 22, 1) 0%,
        rgba(22, 22, 22, 1) 46%,
        rgba(255, 255, 255, 1) 48%,
        rgba(255, 255, 255, 1) 100%
    );
}
body.aw-first-section-is-white.aw-nav-animating {
    background: #161616;
}

.gm-consent-ok .aw-map {
    position: relative;
    width: 100%;
    height: 0;
  }
  
  .gm-consent-ok .aw-map__fullsize {
    width: 100%;
    height: 0;
    padding-top: 40%;
    background: #EDEBEB;
  }
  
  .gm-consent-ok .aw-map__fullsize iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .gm-consent-ok .aw-map iframe {
    position: relative;
    height: 100%;
    width: 300px;
  }
  
  .gm-consent-ok .gm-consent,
  .gm-consent-ok .gm-consent__bg {
    display: none;
  }
  
  .gm-consent {
    padding-top: 100px;
    padding-bottom: 50px;
  }

@import 'custom/header';
@import 'custom/main';
@import 'custom/nav';
